.background-color{ 
    background : #EDECEC;
}

.title-margin{
    margin-top: 100px;
}

.sias-navbar{
    background-color: #4183F0;
    max-height: 50px;
}

.sias-menu-navbar{
    background-color: #4183F0;
    margin-top: 45px;
    height: 100%;
}

.logo{
    margin-top: -25%;
}

.photo-user{
    height: 35px;
}

.login-form{
    margin-top: 10%;
}

.sias-select2{
    height: auto;   
}

@media screen and (max-width: 800px){
    .search{
        width: 100%;
        margin-top: 5px;
        margin-left: 1%;
    }
}
@media screen and (min-width: 800px){
    .search{
        width: 40%;
        margin-top: 5px;
        margin-left: 1%;
    }
}

.header-right{
    margin-right: 0%;
    margin-left: 5%;
}

.sias-default{
    border-color: #3A5795;
}

.footer{
    color: #ffffff;
    text-align: center;
    position: fixed;  
    bottom: 0px;
}

.margem{
    margin-top: 10px;
    margin-bottom: 10px;
}

.center{
    text-align: center;
}

.buttons{
    width: 100%;
    background: #3A5795;
}

.photo{
    width: 50%;
}

.tabelaDocumentosProvidenciaveis{
    overflow-y: scroll;
    max-height:200px;
}

.mensagemRetornoSucesso{
    width: 100%;
    font-size: 20px;
    text-align: center;
    color: green;
}

.mensagemRetornoErro{
    width: 100%;
    font-size: 20px;
    text-align: center;
    color: red;
}

.event-tooltip {
    width:150px;
    background: rgba(0, 0, 0, 0.85);
    color:#FFF;
    padding:10px;
    position:absolute;
    z-index:10001;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 11px;
}

@media (min-width: 768px) {
    .menu-navbar
    {
        max-width:300px;
        margin-right: 0;
        margin-left: 0;
    }
}